.info {
    text-transform: capitalize; // Transforma a primeira letra em maiúscula
  }

.pokemon-card {
  font-size: 12px;
  text-align: center;
}

.pokemon-Id {
  text-align: end;
  margin: 0;
  font-size: xx-small;
  font-weight: 800;
}